@tailwind base;
@tailwind components;
@tailwind utilities;

/* Elimina la barra de scroll pero permite scroll con la rueda */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
